@import "../../colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: alpha(@surface, 0.4);
    color: @on_surface;
}

#workspaces {
    background: alpha(@surface_variant, 0.5);
    margin: 4px;
    border-radius: 12px;
    padding: 0 4px;
}

#workspaces button {
    padding: 0 8px;
    color: alpha(@on_surface, 0.3);
}

#workspaces button.active {
    color: @primary;
}

#clock {
    background: alpha(@surface_variant, 0.5);
    margin: 4px;
    border-radius: 12px;
    padding: 0 12px;
}

#pulseaudio, #network, #battery, #tray, #custom-power {
    background: alpha(@surface_variant, 0.5);
    margin: 4px 2px;
    border-radius: 12px;
    padding: 0 10px;
}

#tray {
    padding: 0 8px;
}

#custom-power {
    margin-right: 4px;
    color: @error;
}
